 body {
            display: flex;
            justify-content: center;
            padding-top: 100px;
            background-color: #ffffff;
        }
        .card {
            width: 320px;
            padding: 30px;
            border: 2px solid #4a90e2; 
            border-radius: 15px;
            background-color: #f5f3f7; 
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .name {
            font-size: 22px;
            font-weight: 800;
            margin: 0;
            color: #000;
        }

        .price {
            font-size: 36px;
            font-weight: 500;
            color: #2e70ff; 
            margin-bottom: 5px;
        }

        select, button {
            width: 100%;
            padding: 5px;
            font-size: 14px;
            border: 1px solid #999;
            background-color: #fff;
            cursor: pointer;
        }

        button {
            background-color: #efefef;
            border-radius: 2px;
        }

        button:hover {
            background-color: #e0e0e0;
        }