body{
    margin: 0;
    background: #00000071;
}

#heading{
    margin-left: 45%;
}

.big-container{
    height: 500px;;
    width: 300px;
    background-color: black;
    margin-left: 550px;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.medium-container{
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.medium-container input{
    height: 100%;
    padding-right: 10px;
    width: 300px;
    border: none;
    outline: none;
    background: #0f7eb6;
    border-radius: 10px;
    font-size: 25px;
}

#operations{
    display: grid;
}

.small-container{
    height: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.buttons {
    display: flex;
}

.buttons button{
    display: flex;
    gap: 5px;
    height: 50px;
    width: 60px;
    border-radius: 45%;
    background-color: rgba(44, 43, 43, 0.963);
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons button:hover{
    background-color: #0f7eb6;
    height: 53px;
    color: black;
}